name: majsite
on: [push]
jobs:
  publish:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@master
    - name: Compile
      run: sudo apt-get update && sudo apt-get install -y asciidoctor && make

    - name: Publish
      uses: netlify/actions/cli@master
      with:
        args: deploy --dir=./dist 
      env:
        NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}